@model AddMovieFormModule

@{
    ViewData["Title"] = "Create";
}

<h2>Create movie</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="form-label"></label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tagline" class="control-label"></label>
                <input asp-for="Tagline" class="form-control" />
                <span asp-validation-for="Tagline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Runtime" class="control-label"></label>
                <div class="input-group mb-3">
                    <input asp-for="Runtime" class="form-control" />
                    <span asp-validation-for="Runtime" class="text-danger"></span>
                    <span class="input-group-text">min</span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Revenue" class="control-label"></label>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input asp-for="Revenue" class="form-control" />
                    <span asp-validation-for="Revenue" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Budget" class="control-label"></label>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <input asp-for="Budget" class="form-control" />
                    <span asp-validation-for="Budget" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DatePublished" class="control-label"></label>
                <input asp-for="DatePublished" class="form-control" />
                <span asp-validation-for="DatePublished" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poster" class="control-label"></label>
                <input asp-for="Poster" class="form-control" />
                <span asp-validation-for="Poster" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trailer" class="control-label"></label>
                <input asp-for="Trailer" class="form-control" />
                <span asp-validation-for="Trailer" class="text-danger"></span>
            </div>
            @*
            TODO: Implement Genres
            <div class="form-group">
            <label asp-for="ContentRanting" class="control-label"></label>
            <input asp-for="ContentRanting" class="form-control" />
            <span asp-validation-for="ContentRanting" class="text-danger"></span>

            <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            </select>

            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Movie" asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
