@model FormMovieModule
@{
    ViewData["Title"] = "Create Movie";
}

<h2>Create movie</h2>
<partial name="~/Views/Shared/Movie/_MovieForm.cshtml" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/movie/reviewForm.js"></script>
    <script src="~/js/movie/form.js"></script>
}
@section Styles {
    <link rel="stylesheet" href="~/css/moviesCreate.css" />
}
