@model FormMovieModule

@{
    ViewData["Title"] = "Edit Movie";
}

<h2>Edit movie</h2>
<partial name="~/Views/Shared/Movie/_MovieForm.cshtml" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/formMovie.js"></script>
}
@section Styles {
    <link rel="stylesheet" href="~/css/moviesCreate.css" />
}