@model IEnumerable<PopularMovieResultModule>
@{
	ViewData["Title"] = "Popular";
}

<partial name="~/Views/Shared/Movie/_MovieFilters.cshtml" />

<h3>What's Popular</h3>

<partial name="~/Views/Shared/Movie/_MovieList.cshtml" />

@section Styles {
	<link rel="stylesheet" href="~/css/movies.css" />
}
	@section Scripts {
	<script src="~/js/renderMovieInfo.js"></script>
}