@model IEnumerable<PopularMovieResultModule>
@{
	ViewData["Title"] = "Top Rated";
}

<h3>Top rated of all time</h3>

<partial name="~/Views/Shared/Movie/_MovieList.cshtml" />

@section Styles {
	<link rel="stylesheet" href="~/css/movies.css" />
}
@section Scripts {
	<script src="~/js/renderMovieInfo.js"></script>
}