@using RentAMovie.Areas.Admin.Models.Movie
@model List<SearchMovieModel>
@{
	ViewData["Title"] = "Watchlist";
}

<h1>My watchlist</h1>
<div class="row"> 
	@if (Model != null && Model.Count > 0)
	{
		@foreach (var movie in Model)
		{
			<partial name="~/Views/Shared/Movie/_MovieSingleCardMixedFull.cshtml" model="movie" />
		}
	}
	else
	{
		<p id="no-results">No results</p>
	}
</div>

@section Styles {
	<link rel="stylesheet" href="~/css/movies.css" />
}