@model List<ViewUserMovieCardModel>
@{
	ViewData["Title"] = "My Movies";
}

@if (TempData["delete"] != null)
{
    <div class="green-alert">
        <p>@TempData["delete"]</p>
        <img src="~/images/button/x.png" />
    </div>
}
@if (TempData["edit"] != null)
{
    <div class="green-alert">
		<p>@TempData["edit"]</p>
        <img src="~/images/button/x.png" />
    </div>
}

<div class="row">
	@if (Model != null && Model.Count() > 0)
	{
		@foreach (var movie in Model)
		{
			<partial name="~/Views/Shared/Movie/_MovieSingleCardUserControls.cshtml" model="movie" />
		}
	}
	else
	{
		<div class="not-available-container">
			<p class="not-available">No available movies</p>
		</div>
	}
</div>

@section Styles {
	<link rel="stylesheet" href="~/css/movies.css" />
	<link rel="stylesheet" href="~/css/userMovies.css" />
	<link rel="stylesheet" href="~/css/alert/alert.css" />
}
@section Scripts {
	<script src="~/js/alert/alert.js"></script>
}