.main-section {
    display: flex;
}

.main-section img {
    width: 280px;
    height: 420px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 10px;
}

.info-section {
    padding-left: 20px;
}

.biography {
    display: flex;
    justify-content: space-between;
}

.biography h5{
    margin: 0;
}

.biography p{
    color: #0D4C92;
    font-weight: 500;
    cursor: pointer;
    margin: 0;
    transition: 100ms;

    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.biography p:hover {
    color: #0079FF;
}

.info-section h2 {
    margin-bottom: 0.8rem;
}

.info-section p {
    max-width: 800px;
}

.parts {
    height: fit-content;
    overflow: hidden;
    padding: 10px 0 10px 10px;
}

.blur-color {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0D4C92;
    z-index: -5;
    border-radius: 15px 15px 5px 5px;
}

.img-section {
    position: relative;
    max-height: fit-content;
}

.details {
    padding: 10px;
    color: #f2f2f2;
}

.detail {
    margin-bottom: 10px;
    max-width: 250px;
}

.detail p{
    margin: 0;
}

.detail p:nth-child(1){
   font-size: 1.2rem;
   font-weight: 500;
}

#wikipedia {
    font-size: 0.9rem;
    opacity: 80%;
    margin-bottom: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.movies {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 10px;
}

.movie-item {
    max-width: 200px;
    background-color: #0D4C92;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    text-align: center;
}

.movie-item:hover {
    filter: brightness(90%);
}

.movie-item img {
    width: 200px;
    height: auto;
}

.movie-item a {
    text-decoration: none;
    color: #f2f2f2;
}

.movie-item a p{
    margin-bottom: 10px;
    word-wrap: anywhere;
}