h1 {
    text-align: center;
}

.form-container {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-container h2 {
    font-size: 1.8rem;
    opacity: 80%;

    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.form-container form button[type="submit"] {
    background-color: #0D4C92;
    border: none;
    transition: 100ms;
}

.form-container form button[type="submit"]:hover {
    background-color: #0079FF;
}

.form-floating {
    text-align: left;
    margin-bottom: 10px;
}

.logout form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout form button{
    font-size: 1.8rem;
    color: #0D4C92 !important;
}

.validation-summary-errors ul {
    list-style: none;
}

.secondary-redirect {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.secondary-redirect p {
    margin: 0;
    color: #000000ff !important; 
    margin-right: 10px;
}

.secondary-redirect a {
    color: #0D4C92 !important; 
    padding: 0;
    font-weight: 500;
    transition: 100ms;
}

.secondary-redirect a:hover {
    color: #0079FF !important;
}