@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Patrick+Hand&family=Quicksand&display=swap');

#carouselExampleCaptions {
    width: 80%;
    margin: auto;
}

.carousel-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

#carouselExampleCaptions {
    margin: 0;
    max-width: 800px;
}

.carousel-inner {
    border-radius: 15px;
}

.carousel-item a {
    color: #fff;
    text-decoration: none;
}

.carouselImg {
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(3px);
    filter: brightness(50%);
}

.carousel-item a:hover {
    color: #1f7aff;
}

.hero {
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(
        to bottom, 
        #021632, 
        #4E56A4
    );
    color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}

.hero h3 {
    font-weight: bold;
    font-size: 3.2rem;
    font-family: 'Patrick Hand', cursive;
}

.hero a {
    font-size: 1.2rem;
    border-radius: 5px;
    text-decoration: none;
    background-color: #0D4C92;
    color: #f2f2f2;
    padding: 10px;
    margin-top: 20px;
    transition: 100ms;
}

.hero a:hover {
    background-color: #0079FF;
}

.animation {
    animation: background-pan 3s linear infinite;
    background: linear-gradient( 
        to right,
        #F778C5, 
        #A667BD, 
        #D06FC3, 
        #A667BD, 
        #F778C5
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

.tab-sections {
    margin-top: 80px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.tab {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #21252915;
    padding: 5px;
}

.tab img {
    width: 150px;
}

.tab-controls {
    text-align: center;
}

.tab-controls a {
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 5px;
    text-decoration: none;
    color: #0D4C92;
    padding: 10px;
    transition: 100ms;
}

.tab-controls a:hover {
    color: #0079FF;
}

.tab p {
    margin: 0;
    font-size: 1.3rem;
}

@media screen and (max-width: 573px) {
    .container {
        margin: 0;
        padding: 0;
    }

    .tab-sections {
        padding: 0;
    }
}