footer .container {
    color: #6c757d !important;
}

body .container {
    color: #f2f2f2;
}

.main-container {
    position: relative;
    width: 100%;
    padding: 10px;
    height: 600px;
}

.blur-color {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0a58ca;
    opacity: 25%;
}

.backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: brightness(15%);
}

.information-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    color: #f2f2f2;
}

.info-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.info-img img {
    width: 300px;
    height: 450px;
    object-fit: cover;
    object-position: center;
    border-radius: calc(0.25rem - 1px);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.info-main {
    width: 100%;
    margin: auto;
}

.header-info {
    width: 100%;
}

.header-info h1 {
    max-width: 700px;
    margin: 0;
}

.header-info div:nth-child(1) {
    display: flex;
    align-items: center;
}

.header-info ul {
    display: flex;
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0;
}

.header-info li {
    margin-left: 5px;
    opacity: 80%
}

.user-score {
    /*margin: 0 20px 0 20%;*/
    width: fit-content;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px 0 10px 0px;
}

.user-score div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-score img {
    width: 25px;
    margin-right: 5px;
}

.user-score p {
    margin: 0;
    font-weight: bold;
}

.rating-small {
    font-size: 1rem;
    opacity: 90%;
}

#tagline {
    font-style: italic;
    font-weight: bold;
    font-size: 1.1rem;
    opacity: 90%;
    font-size: 1rem;
    margin: 10px 0 10px 0;
}

#description {
    max-width: 880px;
    font-size: 1.1rem;
}

.details-container {
    margin-top: 10px;
    padding: 10px;
    color: #212529;
    display: flex;
    position: relative;
}

.main-details {
    width: 85%;
    height: 100%;
}

.aside-details {
    padding: 10px;
    height: 100%;
}

.aside-details h5 {
    margin-bottom: 0;
}

.actors .card {
    width: 150px !important;
}

.card-title a {
    width: 100%;
    text-decoration: none;
    color: #212529;
    font-weight: bold;
}

.card-title a:hover {
    color: #0D4C92;
}

.card-img-top {
   transition: 100ms;
}

.card-img-top:hover {
    filter: brightness(90%);
}

.media-scroller {
    display: grid;
    gap: 1.3rem;
    grid-auto-flow: column;
    grid-auto-columns: 13%;
    overflow-x: auto;
    padding: 10px;
}

.media-scroller::-webkit-scrollbar-track {
    padding: 2px 0;
    background-color: inherit;
}

.media-scroller::-webkit-scrollbar {
    height: 10px;
}

.media-scroller::-webkit-scrollbar-thumb {
    height: 2px;
    border-radius: 5px;
    background-color: #0D4C92;
}

.more-actors {
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-actors a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    color: #0D4C92;
    transition: 100ms;
}

.more-actors a:hover {
    color: #0079FF;
}

#no-actors {
    width: 200px;
    opacity: 80%;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#no-reviews {
    width: 200px;
    opacity: 80%;
    padding-left: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.review-section {
    max-height: 300px;
    display: flex;
    border: 2px solid #d5d5d5;
    border-radius: 10px;
    padding: 20px;
    margin-left: 10px;
    box-shadow: 3px 5px 15px #a7a7a7;
}

.review-section img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.review-content {
    width: 100%;
    padding-left: 20px;
}

.review-content h5 {
    margin: 0;
    font-size: 1.3rem;
}

.review-date {
    opacity: 80%;
    font-size: 0.9rem;
}

.review-text {
    margin-bottom: 5px;
    max-width: 630px;
    max-height: 165px;
    overflow: hidden;
    word-wrap: anywhere;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.review-content a {
    text-decoration: none !important;
    color: #212529 !important;
    font-weight: 500;
    margin-right: 10px;
}

.review-content a p ,
.controls a p {
    margin: 0;
    transition: 100ms;
}

.review-content a p:hover {
    color: #0079FF;
}

.header-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.header-controls h3 {
    margin: 0;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls a {
    text-decoration: none !important;
    color: #f2f2f2 !important;
    background-color: #0D4C92;
    font-weight: 500;
    font-size: 1.0rem;
    margin-right: 10px;
    border-radius: 0.25rem;
    padding: 8px;
    transition: 100ms;
}

.controls a:hover {
    background-color: #0079FF;
}

.crew-info {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.crew-item p {
    margin-bottom: 0;
}

.crew-role {
    opacity: 80%;
}

.crew-person {
    margin-left: 5px;
}

.crew-person a{
    color: #f2f2f2;
    text-decoration: none;
    transition: 100ms;
}

.crew-person a:hover{
    color: #0079FF;
}

@media screen and (max-width: 990px) {
    .container, .main-container {
        max-width: none;
        width: 100%;
        padding: 0;
    }

    .media-scroller {
        gap: 90px;
    }
}

@media screen and (max-width: 770px) {
    .details-container {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
    }
    .aside-details {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        box-ordinal-group: 1;
    }
    .main-details {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        box-ordinal-group: 2;
    }

    .main-details {
        width: 100%;
    }
    .aside-details {
        display: flex;
    }
    .aside-member {
        margin: 0 10px 0 0;
        text-align: center;
    }
    .aside-member p {
        margin: 0 ;
    }

    .header-controls {
        flex-direction: column;
    }
    .controls {
        justify-content: flex-start;
        margin-top: 10px;
    }

    .review-section {
        width: 100%;
        margin: 0;
    }

    .information-container {
        display: flex;
        align-items: center;
    }
    .info-img {
        margin: 0 10px 0 10px;
    }
    .info-img img{
        width: 200px;
        height: 300px;
    }
    .info-main {
        height: fit-content;
        margin: 50px 10px 50px 0;
    }
}

@media screen and (max-width: 573px) {
    
}