.profile-image {
    width: 150px;
    border-radius: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-details {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.user-details p{
    margin-bottom: 5px;
}

.username {
    font-size: 1.5rem;
    font-weight: 500;
}

.date {
    opacity: 80%;
}