.profile-image {
    width: 150px;
    border-radius: 10px;
}

.user-info {
    display: flex;
}

.user-details {
    padding: 10px;
    display: flex;
    align-items: center;
}

.username {
    font-size: 1.4rem;
    font-weight: 500;
}