#review {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mt-2 {
    max-width: 630px;
}

.review-text {
    max-height: none;
}

.review-section {
    max-height: none;
}

form input[type="submit"] {
    color: #212529 !important;
    background-color: #f2f2f2 !important;
    border-color: #f2f2f2 !important;
    border: none !important;
    font-weight: 500 !important;
    margin-bottom: 0 !important;
    padding: 0;
}

form input[type="submit"]:hover {
    color: #ff3131 !important;
}

#back {
    color: #212529;
    font-weight: 500;
    text-decoration: none;
    transition: 100ms;
}

#back p {
    margin-left: 20px;
}

#back:hover {
    color: #0D4C92 !important;
}

@media screen and (max-width: 570px) {
    .review-section {
        width: 97%;
        margin: 0;
    }
}