html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f2f2f2;
}

img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container main {
    margin-top: 30px;
}

#navbar-container {
    height: 59px;
}

#navbar-header {
    transition: 600ms;
    z-index: 10;
}

.navbar-brand {
    padding-top: 0;
}

#navbar-header {
    background-color: #021632 !important;
    color: #f2f2f2 !important;
    border: none !important;
    box-shadow: 0 0.5rem 1rem #0216323e;
    transition: 300ms;
}

#navbar-header a,
#navbar-header button {
    color: #f2f2f2 !important;
}

.navbar-toggler img {
    width: 26.25px;
    height: 26.25px;
}

#nav-dropdown {
    background-color: #021632 !important;
}

#nav-dropdown li a{
    transition: 100ms;
}

#nav-dropdown li a:hover{
    background-color: #0079FF !important;
}

.sticky {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
}

.no-shadow {
    box-shadow: none !important;
}