@inject SignInManager<User> SignInManager

@if (Model.Movie.IsWatchlistedByUser == false)
{
    @if (SignInManager.IsSignedIn(User))
    {
        <form class="bookmark-form"
        asp-controller="Movie"
        asp-action="AddToWatchlist"
        asp-route-movieId="@Model.Movie.Id"
        asp-route-movieInfo="@WebUtilities.SimplifyMovieUrlInformation(Model.Movie.Title, WebUtilities.GetReleaseDateYear(Model.Movie.ReleaseDate))">
            <input type="submit" />
            <img class="bookmark" src="~/images/bookmark/bookmark.png" />
        </form>
    }
    else
    {
        <form class="bookmark-form" asp-area="Identity" asp-page="/Account/Login">
            <input type="submit" />
            <img class="bookmark" src="~/images/bookmark/bookmark.png" />
        </form>
    }
}
else
{
    <form class="bookmark-form"
    asp-controller="Movie"
    asp-action="RemoveFromWatchlist"
    asp-route-movieId="@Model.Movie.Id"
    asp-route-movieInfo="@WebUtilities.SimplifyMovieUrlInformation(Model.Movie.Title, WebUtilities.GetReleaseDateYear(Model.Movie.ReleaseDate))">
        <input type="submit" />
        <img class="bookmark" src="~/images/bookmark/bookmark-added.png" />
    </form>
}