@model FormMovieModule

<div class="row-container">
    <div class="row">
        <div class="col-md-12">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tagline" class="control-label"></label>
                    <input asp-for="Tagline" class="form-control" />
                    <span asp-validation-for="Tagline" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Runtime" class="control-label"></label>
                    <div class="input-group mb-3">
                        <input asp-for="Runtime" class="form-control" />
                        <span class="input-group-text">min</span>
                    </div>
                    <span asp-validation-for="Runtime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Revenue" class="control-label"></label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input asp-for="Revenue" class="form-control" />
                    </div>
                    <span asp-validation-for="Revenue" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Budget" class="control-label"></label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input asp-for="Budget" class="form-control" />
                    </div>
                    <span asp-validation-for="Budget" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DatePublished" class="control-label"></label>
                    <input asp-for="DatePublished" class="form-control" />
                    <span asp-validation-for="DatePublished" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Poster" class="control-label"></label>
                    <input asp-for="Poster" class="form-control" onclick="this.select();" />
                    <span asp-validation-for="Poster" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Backdrop" class="control-label"></label>
                    <input asp-for="Backdrop" class="form-control" onclick="this.select();" />
                    <span asp-validation-for="Backdrop" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Trailer" class="control-label"></label>
                    <input asp-for="Trailer" class="form-control" onclick="this.select();" />
                    <span asp-validation-for="Trailer" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <div class="genres-lable">
                        <label asp-for="Genres" class="control-label"></label>
                        <p id="clear">Clear</p>
                    </div>
                    <input asp-for="Genres" class="form-control" readonly />
                    <span asp-validation-for="Genres" class="text-danger"></span>
                    <div class="genres">
                        <div class="genre-item">
                            <p>Action</p>
                        </div>
                        <div class="genre-item">
                            <p>Adventure</p>
                        </div>
                        <div class="genre-item">
                            <p>Animation</p>
                        </div>
                        <div class="genre-item">
                            <p>Comedy</p>
                        </div>
                        <div class="genre-item">
                            <p>Crime</p>
                        </div>
                        <div class="genre-item">
                            <p>Documentary</p>
                        </div>
                        <div class="genre-item">
                            <p>Drama</p>
                        </div>
                        <div class="genre-item">
                            <p>Fantasy</p>
                        </div>
                        <div class="genre-item">
                            <p>History</p>
                        </div>
                        <div class="genre-item">
                            <p>Horror</p>
                        </div>
                        <div class="genre-item">
                            <p>Mystery</p>
                        </div>
                        <div class="genre-item">
                            <p>Romance</p>
                        </div>
                        <div class="genre-item">
                            <p>Science Fiction</p>
                        </div>
                        <div class="genre-item">
                            <p>Thriller</p>
                        </div>
                        <div class="genre-item">
                            <p>War</p>
                        </div>
                        <div class="genre-item">
                            <p>Western</p>
                        </div>  
                    </div>
                    <p id="genresTip">Select up to <b>five</b> genres</p>
                </div>

                <div class="form-group">
                    <input type="submit" value="@(ViewData["Title"] == "Create Movie" ? "Create" : "Submit")" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
