<div class="search-section">
	<h1>Movies</h1>
	<div class="top-nav">
		<p>Sort By:</p>
		<button type="button" class="btn btn-primary">Rating</button>
		<button type="button" class="btn btn-primary">Popularity</button>
		<button type="button" class="btn btn-primary">Number of votes</button>
		<a asp-controller="Search" asp-action="Index" class="btn btn-secondary">Search</a>
	</div>
</div>