@model FormReviewModel
@using System.Security.Claims
@inject ViewMoviesDbContext data

@{
    var currentMovie = data.Movies.Find(Model.MovieId);
    ViewData["Title"] = $"Review for {currentMovie.Title}";
}

<div class="row-container">
    <div class="row">
        <div class="col-md-12">
            <div class="movie-info">
                <img src="@currentMovie.Poster" />
                <p>@currentMovie.Title</p>
            </div>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <textarea asp-for="Content" class="form-control" autocomplete="off" rows="5"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group d-none">
                    <label asp-for="MovieId" class="control-label"></label>
                    <input asp-for="MovieId" class="form-control"/>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}